// COLOR VARIABLES
$color-secondary: #6c757d;
$color-link-active: #007bff;
$color-link-blue: #3a72c7;
$color-secondary-dark-1: #494f54;
$color-orange: #f46228;
$color-pink: #f92672;
$color-light-1: #f9fafd;
$color-white: #fff;
$color-yellow: #fec013;
$color-nav-background: #21252b;

// FONT VARIABLES
$font-primary: 'Proxima Nova', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75rem;   // 1200px
$bp-large: 62rem;   // 992px
$bp-medium: 48rem;    // 768px;
$bp-small: 36rem;    // 576px;